@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html,
body,
#root {
  height: 100%;
  background-color: #F3F4F6;
  font-family: 'Poppins', sans-serif;
}

/* Custom Alerts */
.custom-alert-success,
.custom-alert-error,
.custom-alert-loading,
.custom-alert-pregunta {
  width: 100%;
  max-width: 280px;
}

@media (max-width: 640px) {

  .custom-alert-success,
  .custom-alert-error,
  .custom-alert-loading,
  .custom-alert-pregunta {
    max-width: 70vw;
    padding: 8px;
  }
}

@media (max-width: 400px) {

  .custom-alert-success,
  .custom-alert-error,
  .custom-alert-loading,
  .custom-alert-pregunta {
    max-width: 92vw;
    padding: 4px;
  }
}

.bg-gray-custom {
  background-color: #F3F4F6;
}

.custom-alert-success {
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  max-width: 400px;
  border-top: 10px solid #3BA936;
}

.custom-alert-error {
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  max-width: 400px;
  border-top: 10px solid #AB0D2E;
}

.custom-alert-title {
  font-size: 1.8rem !important; 
  font-weight: 600;
}

.custom-alert-loading {
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  max-width: 400px;
  border-top: 10px solid #1E3A8A;
}

.loader {
  border: 5px solid #1E3A8A;
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  animation: spin 1s linear infinite;
}

.loader2 {
  border: 5px solid #1E3A8A;
  border-left-color: #F3F4F6;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-alert-pregunta {
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  max-width: 400px;
  border-top: 10px solid #1E3A8A;
}

.custom-blue {
  color: #1E3A8A;
}

.bg-custom-blue {
  background-color: #1E3A8A;
}

.bg-custom-side {
  background-color: #0EA5E9;
}

.bg-custom-bluelight {
  background-color: #F3F4F6;
}

.custom-bluewhite {
  background-color: #F3F4F6;
}

.custom-border-bottom {
  border-bottom: 2px solid #1E3A8A;
}

.custom-border-bottom:focus {
  border-bottom-color: #1E3A8A;
}

.custom-blue-bottom {
  background-color: #1E3A8A;
}

.custom-blue-bottom:hover {
  background-color: #192d69;
}